{% extends "layouts/low_template.twig" %}
{% block breadcrumbs %}{% endblock %}

{% block section_header %}{% endblock %}
{%- block articles %}


    <h1 class="not-found">Strona nie została odnaleziona.</h1>

{%- endblock %}