<nav class="navigation">

    <ul>
        <li><a href="{{ url }}">Strona Główna</a></li>
        <li><a href="">Szkoła</a>
            <ul>

                {{ siter.li(1) }}
                {{ siter.li(2) }}

                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </li> {#szkoła#}
        <li><a href="">Informator</a>
            <ul>
                <li><a href="#">Dla kandydatów</a>

                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </li>
                <li><a href="#">Dla uczniów</a>
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </li>
                <li><a href="#">Dla maturzystow</a>
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </li>
                <li><a href="#">Dla rodziców</a>
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </li>
            </ul>
        </li> {#informator#}
        <li><a href="">Nasze osiągnięcia</a>
            <ul>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul></li>
        <li><a href="">Galeria</a></li>
        <li><a href="">Linki</a></li>
        <li><a href="https://uonetplus.vulcan.net.pl/powiatwegrowski">e-Dziennik</a></li>
        {#<li><a href=""></a></li>#}
    </ul>

</nav>